import React from 'react';
import Event from "../../components/event-item"
import imgSrc from '../../images/gallery/{{imgSrcName}}';

const {{componentName}} = () => {
  return (
    <Event name="{{name}}" year="{{year}}" country="{{country}}" website="{{{website}}}" photos="{{{link}}}" imgSrc={imgSrc} />
  );
};

export default {{componentName}};