import React from 'react';

import Event from "../../components/event-item"
import primaryLocalImg from '../../images/compress/{{componentName}}.webp';

const {{componentName}} = () => {
  return (
    <Event
      name="{{title}}"
      year="{{year}}"
      country="{{country}}"
      city="{{city}}"
      flickrURL="{{{url}}}"
      countPhotos="{{countPhotos}}"
      countVideos="{{countVideos}}"
      primaryLocalImg={primaryLocalImg}
    />
  );
};

export default {{componentName}};