import React from 'react';
import Game from "../../components/game-item"

const {{componentName}} = () => {
  return (
    <Game
      name="{{name}}"
      releaseYear="{{releaseYear}}"
      igdbURL="{{{igdbURL}}}"
      coverURL="{{{coverURL}}}"
      platformVersion="{{platformVersion}}"
      platformPlayedOn="{{{platformPlayedOn}}}"
      flickrURL="{{flickrURL}}"
      version="{{version}}"
      countPhotos="{{countPhotos}}"
      countVideos="{{countVideos}}"
      primaryPhotoURL="{{{primaryPhotoURL}}}"
    />
  );
};

export default {{componentName}};