---
layout: layouts/page.njk
url: /404.html
---

<div class="hero h-64 bg-[url(/img/erik-mclean-sxiSod0tyYQ-unsplash.webp)]">
    <div class="hero-overlay"></div>
    <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Oups</h1>
            <p class="mb-5">La page recherchée n'existe pas. Vous trouverez les possibilités plus bas.</p>
            <button class="btn btn-primary link">
                <a href="/">Retourner à l'accueil</a>
            </button>
        </div>
    </div>
</div>
