---
layout: layouts/page.njk
title: À propos
menu:
  visible: true
  order: 2
---

<div class="divider divider-start">À propos</div>
<div class="columns-1 sm:columns-2 gap-8">
    <img src="/img/me.webp"
         class="aspect-square"
         height="100"
         width="100"
         alt="" />
    <div>
        <p>
            Avec 13 ans d’expérience dans l’architecture
            logicielle et l’analyse de Systèmes d’Information de
            divers clients, j’ai acquis une forte exigence de
            qualité afin de livrer des produits les plus stables
            possibles. J’aime aussi travailler en équipe,
            partager mes connaissances, monter en compétence et
            apprendre de nouvelles technologies via des
            formations au service du produit et des clients. Je
            mets également en pratique ces connaissances dans le
            monde de l’Open Source.
        </p>
        <p>
            Je porte aussi une très grande importance à des
            techniques comme le Domain-Driven Design,
            l’architecture hexagonale, la qualité et l’agilité
            qui apporte une certaine rigueur et un cadre sein
            dans une équipe afin de produire le plus
            efficacement et qualitativement possible. Depuis
            2022, je travaille directement avec des clients afin
            d'acquérir de nouvelles connaissances et partager
            mon expérience.
        </p>
        <p>
            J’apprécie également être au service des autres que
            ce soit professionnellement ou personnellement. J'ai
            été dans le monde associatif depuis 2008 où j’ai
            notamment participé à une émission de radio, été
            rédacteur web ou Équipier secouriste.
        </p>
        <div>
            <div>
                <ul>
                    <li class="mb-2">
                        <img height="24"
                             width="24"
                             src="{{ "chevron-right" | icon('boxicons', 'regular') }}"
                             alt=""
                             class="about-point-list" />
                        <strong>Année de naissance :</strong>
                        1986
                    </li>
                    <li class="mb-2">
                        <img height="24"
                             width="24"
                             src="{{ "chevron-right" | icon('boxicons', 'regular') }}"
                             alt=""
                             class="about-point-list" />
                        <strong>Début professionnel :</strong>
                        2009
                    </li>
                    <li class="mb-2">
                        <img height="24"
                             width="24"
                             src="{{ "chevron-right" | icon('boxicons', 'regular') }}"
                             alt=""
                             class="about-point-list" />
                        <strong>Région :</strong> Luxembourg
                    </li>
                    <li class="mb-2">
                        <img height="24"
                             width="24"
                             src="{{ "chevron-right" | icon('boxicons', 'regular') }}"
                             alt=""
                             class="about-point-list" />
                        <strong>Email :</strong>
                        contact@thomascicognani.mailer.me
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="divider divider-start">Intérêts</div>
