---
layout: layouts/page.njk
---

{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs3(i18n.proxp, '/summary', 'Scolarité et formations', '/education') }}
<div class="divider divider-start">Scolarité</div>
<div class="gap-8 flex flex-wrap">
    <div class="flex-1">
        <img src="/img/education/lycee.webp" alt="" width="300" height="100" />
        <p>
            <em>Lycée François 1er de Vitry-le-François</em>
        </p>
        <h5>2001 à 2004</h5>
        <h6>Bac S</h6>
        <ul>
            <li>Option Sciences de l'ingénieur</li>
        </ul>
    </div>
    <div class="flex-1">
        <img src="/img/education/iut.webp" alt="" width="300" height="100" />
        <p>
            <em>IUT de Reims</em>
        </p>
        <h5>2004 à 2006</h5>
        <h6>DUT informatique</h6>
        <ul>
            <li>Option Imagerie numérique</li>
        </ul>
    </div>
    <div class="flex-1">
        <img src="/img/education/fac.webp" alt="" width="300" height="100" />
        <p>
            <em>Faculté des Sciences et des techniques de
            Nantes</em>
        </p>
        <h5>2006 à 2009</h5>
        <h6>Master informatique</h6>
        <ul>
            <li>
                Master ALMA, architectures logicielles et
                systèmes distribués
            </li>
        </ul>
    </div>
</div>
<div class="divider divider-start">Autres formations et diplômes</div>
<div class="gap-8 flex flex-wrap">
    <div class="flex-1">
        <img src="/img/certification/acf.webp" alt="" width="300" height="100" />
        <a class="link" href="https://ac-francois1er.fr/"
           title="Site de l'Aéroclub François 1er">Brevet d’Initiation Aéronautique (2002)</a>
    </div>
    <div class="flex-1">
        <img src="/img/education/coventry-university.webp"
             alt=""
             width="300"
             height="100" />
        <a class="link" href="https://www.coventry.ac.uk/"
           title="Site de la faculté">Modélisation 3D de la faculté de Coventry (stage -
        2006)</a>
    </div>
    <div class="flex-1">
        <img src="/img/certification/mia.webp" alt="" width="300" height="100" />
        <a class="link" href="https://www.soprasteria.com/fr"
           title="Site de Sopra-Steria qui a racheté Mia-Software">API entre Smalltalk et Java (stage -
        2009)</a>
    </div>
    <div class="flex-1">
        <img src="/img/certification/eclipse.webp" alt=""width="300" height="100" />
        <a class="link" href="https://www.eni-service.fr/"
           title="Site de l'ENI qui nous a donné la formation">Formation Eclipse RCP (2013)</a>
    </div>
    <div class="flex-1">
        <img src="/img/certification/kubernetes.webp"
             alt=""
             width="300"
             height="100" />
        <a class="link" href="https://www.liksi.fr/"
           title="Site de Liksi qui nous a donné la formation">Formation Kubernetes (2019)</a>
    </div>
    <div class="flex-1">
        <img src="/img/certification/unass.webp" alt="" width="300" height="100" />
        <a class="link" href="https://www.unass.fr/unass-loire-atlantique"
           title="Site de l'UNASS Loire-Atlantique">Secouriste (PSE 1), puis Équipier secouriste (PSE 2) de 2021
        à 2023</a>
    </div>
    <div class="flex-1">
        <img src="/img/certification/raweb.webp" alt=""width="300" height="100" />
        <a class="link" href="https://access42.net/"
           title="Site d'Access42 qui nous a donné la formation">Formation accessibilité, RAWeb (2024)</a>
    </div>
</div>
