---
layout: layouts/home.njk
menu:
  visible: true
  title: Accueil
  order: 0
---
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Thomas Cicognani</h1>
      <p class="py-6">
        Je suis <span style="color: #12d640">développeur fullstack</span><br />
        <span style="color: #12d640">entousiaste de Deno</span><br />
        <span style="color: #12d640">pour l'Open source</span><br />
        <span style="color: #12d640">chroniqueur jeux vidéo à temps perdu</span><br />
      </p>
      <div>
      <div class="avatar">
  <div class="ring-primary ring-offset-base-100 w-8 rounded-full ring-2 ring-offset-2 mx-4">
    <a
                        href="https://www.linkedin.com/in/thomas-cicognani"
                        target="_blank"
                        class="linkedin"
                        ><img src="{{ "linkedin" | icon("boxicons", "logos") }}"/></i
                    ></a>
  </div>
</div>

<div class="avatar">
<div class="ring-primary ring-offset-base-100 w-8 rounded-full ring-2 ring-offset-2 mx-4">
    <a
                        href="https://www.github.com/zhykos"
                        target="_blank"
                        class="github"
                        ><img src="{{ "github" | icon("boxicons", "logos") }}"/></a>
  </div>
</div>

<div class="avatar">
<div class="ring-primary ring-offset-base-100 w-8 rounded-full ring-2 ring-offset-2 mx-4">
    <a
                        href="mailto:contact@thomascicognani.mailer.me"
                        target="_blank"
                        class="gmail"
                        >
                        <img src="{{ "envelope" | icon("boxicons", "regular") }}"/>
                        </a>
  </div>
</div>





  </div>
</div>
</div>
</div>
