---
layout: layouts/home.njk
---

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Thomas Cicognani</h1>
            <p class="py-6">
                Je suis <span class="iam">développeur fullstack</span>
                <br />
                <span class="iam">entousiaste de Deno</span>
                <br />
                <span class="iam">pour l'Open source</span>
                <br />
                <span class="iam">chroniqueur jeux vidéo à temps perdu</span>
                <br />
            </p>
            <div>
                <div class="avatar">
                    <div class="ring-primary ring-offset-base-100 w-8 rounded-full ring-2 ring-offset-2 mx-4">
                        <a href="https://www.linkedin.com/in/thomas-cicognani"
                           class="linkedin link">
                            <img height="8"
                                 width="8"
                                 src="{{ "linkedin" | icon('boxicons', 'logos') }}"
                                 alt="LinkedIn" />
                        </a>
                    </div>
                </div>
                <div class="avatar">
                    <div class="ring-primary ring-offset-base-100 w-8 rounded-full ring-2 ring-offset-2 mx-4">
                        <a href="https://www.github.com/zhykos"  class="github link">
                            <img height="8"
                                 width="8"
                                 src="{{ "github" | icon('boxicons', 'logos') }}"
                                 alt="GitHub" />
                        </a>
                    </div>
                </div>
                <div class="avatar">
                    <div class="ring-primary ring-offset-base-100 w-8 rounded-full ring-2 ring-offset-2 mx-4">
                        <a href="mailto:contact@thomascicognani.mailer.me" class="gmail link">
                            <img height="8"
                                 width="8"
                                 src="{{ "envelope" | icon('boxicons', 'regular') }}"
                                 alt="Email" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
