---
layout: layouts/page.njk
---

{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs2('Mes projets Open source', '/open-source') }}
<div class="card bg-base-300 rounded-box grid h-16 grow place-items-center font-bold">
    Expériences de développement Open source
</div>
<div class="divider divider-primary divider-start">Open source</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/website.webp"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            <a class="link" href="https://github.com/Zhykos/my-website">My website</a> : le site internet où vous êtes actuellement
        </h2>
        <p>
            Développé en <a href="https://deno.com/" class="link">Deno</a> avec <a href="https://lume.land/" class="link">Lume</a>. Réalisé en TypeScript, <a href="https://tailwindcss.com/" class="link">Tailwind CSS</a> et <a href="https://daisyui.com/" class="link">daisyUI</a>.
        </p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/ryod.svg"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            <a class="link" href="https://github.com/Zhykos/cool-tools">RYOD - Repossess your own data</a>
        </h2>
        <p>
            Un projet pour présenter des outils gratuits et open source qui pourraient s'avérer utiles dans une entreprise de technologie (IT).
        </p>
        <p>Présentation d'OpenTelemetry, d'une architecture simplifiée d'un shop avec des micro-services, etc.</p>
        <p>
            Utilisation de nombreux langages et outils : Java, Spring Boot, Quarkus, TypeScript, Deno, Go, OpenTelemetry, Zipkin, Prometheus, Grafana, etc.
        </p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/autophoto.webp"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            <a class="link" href="https://github.com/Zhykos/autophoto">autophoto</a>
        </h2>
        <p>Un projet pour publier automatiquement des photos sur des plateformes comme Bluesky.</p>
        <p>Développé en Deno et TypeScript, buildé en natif Linux ARM.</p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <div class="card-body">
        <h2 class="card-title">
            <a class="link" href="https://github.com/Zhykos/aoc-2024-in-deno">Advent of code 2024</a> (archive)
        </h2>
        <p>
            Ma participation à l'<a class="link" href="https://adventofcode.com/2024">Advent of code 2024</a> en Deno et TypeScript.
        </p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <div class="card-body">
        <h2 class="card-title">
            <a class="link"
               href="https://github.com/Zhykos/deno-server-openapi-generator">OpenAPI Generator for Deno</a> (archive)
        </h2>
        <p>Un projet pour explorer la faisabilité de générer un projet Deno à partir d'une définition OpenAPI.</p>
        <p>Développé en Java et Mustache</p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <div class="card-body">
        <h2 class="card-title">
            <a class="link" href="https://github.com/Zhykos/wp-comment-contest">Plugin Wordpress pour tirer au sort des commentaires</a> (archive)
        </h2>
        <p>Développé en PHP</p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <div class="card-body">
        <h2 class="card-title">
            <a class="link" href="https://wiki.eclipse.org/EMF_Facet/">EMF Facet</a> (archive)
        </h2>
        <p>Framework Eclipse pour étendre des méta-modèles EMF</p>
        <p>Contributions réalisées lors de mon emploi chez Mia-Software</p>
        <p>Développé en Java / Eclipse RCP / EMF</p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <div class="card-body">
        <h2 class="card-title">
            <a class="link" href="https://wiki.eclipse.org/MoDisco/">MoDisco</a> (archive)
        </h2>
        <p>Framework Eclipse d'analyse de code / rétro-ingénierie</p>
        <p>Contributions réalisées lors de mon emploi chez Mia-Software</p>
        <p>Développé en Java / Eclipse RCP / EMF</p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <div class="card-body">
        <h2 class="card-title">
            <a class="link"
               href="https://github.com/gorhom/react-native-bottom-sheet/pull/2191">Bottom Sheet accessibility improvement</a> (closed)
        </h2>
        <p>Proposition d'amélioration de l'accessibilité du composant Bottom Sheet de React Native</p>
        <p>Contributions réalisées lors de mon emploi chez Post Luxembourg</p>
        <p>Développé en TypeScript / React Native</p>
    </div>
</div>
