---
layout: layouts/page.njk
---

{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs2('Projets personnels', '/personal-projects') }}
<div class="divider divider-start">Mes projets personnels et Open source</div>
TODO
