---
layout: layouts/page.njk
---

{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs2('Expériences personnelles', '/personal') }}
<div class="divider divider-start">Expériences de développement Open source</div>
<div class="columns-1">
    <div>
        <img src="/img/project/my-website.webp" height="300" width="100" alt="" />
        <h4>
            <a href="https://github.com/Zhykos/my-website">My website : le site internet où vous êtes
            actuellement</a>
        </h4>
        <ul>
            <li>
                Template par
                <a class="link"
                   href="https://github.com/rajaprerak/rajaprerak.github.io">Prerak Raja</a>
            </li>
        </ul>
    </div>
    <div>
        <img src="/img/project/ryod.svg" height="300" width="100" alt="" />
        <h4>
            <a class="link" href="https://github.com/Zhykos/cool-tools">RYOD - Repossess your own data</a>
        </h4>
        <ul>
            <li>
                Un projet pour présenter des outils gratuits
                et open source qui pourraient s'avérer
                utiles dans une entreprise de technologie
                (IT)
            </li>
            <li>
                Présentation d'OpenTelemetry, d'une
                architecture simplifiée d'un shop avec des
                micro-services, etc.
            </li>
        </ul>
    </div>
    <div>
        <img src="/img/project/autophoto.webp" height="300" width="100" alt="" />
        <h4>
            <a class="link" href="https://github.com/Zhykos/autophoto">autophoto</a>
        </h4>
        <ul>
            <li>
                Un projet pour publier automatiquement des
                photos (Deno, TypeScript)
            </li>
        </ul>
    </div>
    <div>
        <h4>
            <a class="link" href="https://github.com/Zhykos/aoc-2024-in-deno">Advent of code 2024 (archive)</a>
        </h4>
        <ul>
            <li>
                Ma participation à l'<a class="link" href="https://adventofcode.com/2024">Advent of code 2024</a>
                en Deno et TypeScript.
            </li>
        </ul>
    </div>
    <div>
        <h4>
            <a class="link"
               href="https://github.com/Zhykos/deno-server-openapi-generator">OpenAPI Generator for Deno (archive)</a>
        </h4>
        <ul>
            <li>
                Un projet pour explorer la faisabilité de
                générer un projet Deno à partir d'une
                définition OpenAPI
            </li>
        </ul>
    </div>
</div>
<div class="divider divider-start">Expériences dans le jeu vidéo</div>
<div class="columns-1">
    <div>
        <img src="/img/project/nozzhy-dailymotion.webp"
             height="300"
             width="100"
             alt="" />
        <h4>Nozzhy.com</h4>
        <h5>De 2008 à fin 2011</h5>
        <ul>
            <li>Articles et tests de jeux vidéo</li>
            <li>
                Certaines vidéos sont encore disponibles
                sur
                <a class="link" href="https://www.dailymotion.com/Nozzhy">Dailymotion</a>
            </li>
            <li>
                (Le site a depuis été récupéré, puis
                revendu a priori plusieurs fois, et je
                ne mets pas le lien par honte de ce que
                c'est devenu...)
            </li>
        </ul>
    </div>
    <div>
        <img src="/img/project/inda-live.webp" height="300" width="100" alt="" />
        <h4>Inda-Live</h4>
        <h5>De 2011 à 2013</h5>
        <ul>
            <li>
                Vidéos de présentation de jeux vidéo
                indépendants
            </li>
            <li>
                Certaines vidéos sont encore disponibles
                sur
                <a class="link" href="https://www.dailymotion.com/Inda-Live">Dailymotion</a>
            </li>
        </ul>
    </div>
    <div>
        <h4>LinkIRL (association)</h4>
        <h5>2011 et 2012 (je crois)</h5>
        <ul>
            <li>
                Aide à l'organisation d'événements
                autour du jeu vidéo, à Nantes
            </li>
            <li>
                Aide à la préparation d'un voyage
                organisé, en bus, vers la Japan Expo
            </li>
            <li>
                (Veuillez ne pas chercher le site
                web...)
            </li>
        </ul>
    </div>
    <div>
        <h4>
            <a class="link" href="https://lesonunique.com/">La Guilde du samedi (puis du
            mercredi)</a>
        </h4>
        <h5>De 2012 à 2016</h5>
        <ul>
            <li>
                Émission de radio hebdomadaire sur SUN
                radio
            </li>
            <li>
                Chronique sur les jeux vidéo et le monde
                du numérique
            </li>
            <li>
                Les archives semblent encore être
                disponibles sur
                <a class="link" href="https://www.mixcloud.com/laguildedumercredi/">Mixcloud</a>
            </li>
        </ul>
    </div>
    <div>
        <img src="/img/project/tag.webp" height="300" width="100" alt="" />
        <h4>
            <a class="link" href="https://www.toysandgeek.fr/">Toys and Geek</a>
        </h4>
        <h5>De 2014 à 2019</h5>
        <ul>
            <li>Articles et tests de jeux vidéo</li>
            <li>
                Vidéos avec notamment des interviews de
                développeurs (sur ma chaine
                <a class="link"
                   href="https://www.youtube.com/watch?v=hdzaeth7diI&list=PLHSVTi6lTLZPibjjoviimQ8v6VPIk6oPD">YouTube</a>)
            </li>
            <li>
                Nombreuses couvertures
                "professionnelles" (en tant que
                bénévole, mais avec accréditation
                presse) sur des salons comme la
                Gamescom, le Stunfest ou la Japan Expo
            </li>
        </ul>
    </div>
    <div>
        <img src="/img/project/gss.webp" height="300" width="100" alt="" />
        <h4>
            <a class="link" href="https://www.gamesidestory.com/">Game Side Story</a>
        </h4>
        <h5>De 2019 à 2021</h5>
        <ul>
            <li>Articles et tests de jeux vidéo</li>
        </ul>
    </div>
</div>
<div class="divider divider-start">Bénévolat</div>
<div class="columns-1">
    <div>
        <img src="/img/project/unass.webp" height="300" width="100" alt="" />
        <h4>
            <a class="link" href="https://www.unass.fr/unass-loire-atlantique">UNASS 44</a>
        </h4>
        <h5>De 2021 à 2023</h5>
        <ul>
            <li>Diplômé Secouriste (PSE 1) en 2021</li>
            <li>
                Diplômé Équipier secouriste (PSE 2) en
                2022
            </li>
            <li>
                Présence sur de nombreux dispositifs de
                secours dont le FC Nantes, le HBC
                Nantes, le Mans (24h moto, 24h auto, 24h
                vélo, etc.) et bien d'autres
            </li>
        </ul>
    </div>
</div>
