---
layout: layouts/page.njk
---

{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs3('Blog', '/blog', 'Archives du blog', '/posts') }}
<div class="card bg-base-300 rounded-box grid h-16 grow place-items-center font-bold">Tous les articles du blog</div>
<div class="divider divider-primary divider-start">Articles</div>
{% set postslist = search.pages("type=posts", "date=desc") %}
{% include "templates/posts-list.njk" %}
