---
layout: layouts/page.njk
---
{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs3(i18n.proxp, '/summary', 'Skills', '/skills') }}
<div class="divider divider-start">Skills</div>
<div class="columns-1">
</div>
