---
layout: layouts/page.njk
---

{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs2('Skills', '/skills') }}
<div class="card bg-base-300 rounded-box grid h-16 grow place-items-center font-bold">Mes principales compétences</div>
<div class="divider divider-primary divider-start">Langages et bases de données</div>
<div class="flex flex-wrap flex-row">
    <img src="{{ "java/java-horizontal" | icon("vector") }}"
         alt="Java"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "typescriptlang/typescriptlang-ar21" | icon("vector") }}"
         width="300"
         height="100"
         alt="TypeScript"
         class="bg-neutral-content" />
    <img src="{{ "w3_html5/w3_html5-ar21" | icon("vector") }}"
         alt="HTML"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "mysql/mysql-horizontal" | icon("vector") }}"
         alt="MySQL"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "postgresql/postgresql-horizontal" | icon("vector") }}"
         width="300"
         height="100"
         alt="PostgreSQL"
         class="bg-neutral-content" />
    <img src="{{ "mongodb/mongodb-ar21" | icon("vector") }}"
         alt="MongoDB"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "neo4j/neo4j-ar21" | icon("vector") }}"
         alt="Neo4j"
         width="300"
         height="100"
         class="bg-neutral-content" />
</div>
<div class="divider divider-primary divider-start">Frameworks et librairies</div>
<div class="flex flex-wrap flex-row">
    <img src="{{ "springio/springio-ar21" | icon("vector") }}"
         width="300"
         height="100"
         alt="Spring Boot"
         class="bg-neutral-content" />
    <img src="{{ "deno/deno-ar21" | icon("vector") }}"
         alt="Deno"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "nodejs/nodejs-horizontal" | icon("vector") }}"
         alt="Node.js"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "reactjs/reactjs-ar21" | icon("vector") }}"
         alt="React"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "vuejs/vuejs-ar21" | icon("vector") }}"
         alt="Vue"
         width="300"
         height="100"
         class="bg-neutral-content" />
</div>
<div class="divider divider-primary divider-start">Outils</div>
<div class="flex flex-wrap flex-row">
    <img src="{{ "git-scm/git-scm-ar21" | icon("vector") }}"
         alt="git"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "amazon_aws/amazon_aws-ar21" | icon("vector") }}"
         alt="AWS"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "jetbrains/jetbrains-ar21" | icon("vector") }}"
         width="300"
         height="100"
         alt="Jetbrains / IntelliJ"
         class="bg-neutral-content" />
    <img src="{{ "eclipse/eclipse-ar21" | icon("vector") }}"
         alt="Eclipse"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "jenkins/jenkins-ar21" | icon("vector") }}"
         alt="Jenkins"
         width="300"
         height="100"
         class="bg-neutral-content" />
    <img src="{{ "elastic/elastic-ar21" | icon("vector") }}"
         alt="Elastic"
         width="300"
         height="100"
         class="bg-neutral-content" />
</div>
