---
layout: layouts/page.njk
---

{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs3(i18n.proxp, '/summary', 'Skills', '/skills') }}
<div class="divider divider-start">Skills : langages et bases de données</div>
<div class="flex flex-wrap flex-row">
    <img src="{{ "java/java-horizontal" | icon("vector") }}"
         alt="Java"
         width="300"
         height="100" />
    <img src="{{ "typescriptlang/typescriptlang-ar21" | icon("vector") }}"
         width="300"
         height="100"
         alt="TypeScript" />
    <img src="{{ "w3_html5/w3_html5-ar21" | icon("vector") }}"
         alt="HTML"
         width="300"
         height="100" />
    <img src="{{ "mysql/mysql-horizontal" | icon("vector") }}"
         alt="MySQL"
         width="300"
         height="100" />
    <img src="{{ "postgresql/postgresql-horizontal" | icon("vector") }}"
         width="300"
         height="100"
         alt="PostgreSQL" />
    <img src="{{ "mongodb/mongodb-ar21" | icon("vector") }}"
         alt="MongoDB"
         width="300"
         height="100" />
    <img src="{{ "neo4j/neo4j-ar21" | icon("vector") }}"
         alt="Neo4j"
         width="300"
         height="100" />
</div>
<div class="divider divider-start">Skills : frameworks et librairies</div>
<div class="flex flex-wrap flex-row">
    <img src="{{ "springio/springio-ar21" | icon("vector") }}"
         width="300"
         height="100"
         alt="Spring Boot" />
    <img src="{{ "deno/deno-ar21" | icon("vector") }}"
         alt="Deno"
         width="300"
         height="100" />
    <img src="{{ "nodejs/nodejs-horizontal" | icon("vector") }}"
         alt="Node.js"
         width="300"
         height="100" />
    <img src="{{ "reactjs/reactjs-ar21" | icon("vector") }}"
         alt="React"
         width="300"
         height="100" />
    <img src="{{ "vuejs/vuejs-ar21" | icon("vector") }}"
         alt="Vue"
         width="300"
         height="100" />
</div>
<div class="divider divider-start">Skills : outils</div>
<div class="flex flex-wrap flex-row">
    <img src="{{ "git-scm/git-scm-ar21" | icon("vector") }}"
         alt="git"
         width="300"
         height="100" />
    <img src="{{ "amazon_aws/amazon_aws-ar21" | icon("vector") }}"
         alt="AWS"
         width="300"
         height="100" />
    <img src="{{ "jetbrains/jetbrains-ar21" | icon("vector") }}"
         width="300"
         height="100"
         alt="Jetbrains / IntelliJ" />
    <img src="{{ "eclipse/eclipse-ar21" | icon("vector") }}"
         alt="Eclipse"
         width="300"
         height="100" />
    <img src="{{ "jenkins/jenkins-ar21" | icon("vector") }}"
         alt="Jenkins"
         width="300"
         height="100" />
    <img src="{{ "elastic/elastic-ar21" | icon("vector") }}"
         alt="Elastic"
         width="300"
         height="100" />
</div>
