---
layout: layouts/page.njk
---

{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs2('Jeu vidéo', '/video-game') }}
<div class="divider divider-primary divider-start">Expériences dans le jeu vidéo</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/nozzhy-dailymotion.webp"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">Nozzhy.com</h2>
        <p>De 2008 à fin 2011</p>
        <p>Blog : articles et tests de jeux vidéo</p>
        <p>
            Certaines vidéos sont encore disponibles sur <a class="link" href="https://www.dailymotion.com/Nozzhy">Dailymotion</a>
        </p>
        <p>
            Le site a depuis été récupéré, puis revendu a priori plusieurs fois, et je ne mets pas le lien par honte de ce que c'est devenu. On peut y faire un tour via la <a href="https://web.archive.org/web/20110728090328/http://www.nozzhy.com/"
    class="link">Wayback Machine</a>
        </p>
        <p>Visites professionnelles dans des salons comme le Micromania Games Show ou une Gamescom</p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/inda-live.webp"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">Inda-Live</h2>
        <p>De 2011 à 2013</p>
        <p>Vidéos de présentation de jeux vidéo indépendants</p>
        <p>
            Certaines vidéos sont encore disponibles sur <a class="link" href="https://www.dailymotion.com/Inda-Live">Dailymotion</a>
        </p>
        <p>
            On peut y faire un tour via la <a href="https://web.archive.org/web/20120419074412/http://inda-live.fr/"
    class="link">Wayback Machine</a>
        </p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/guilde.webp"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">La Guilde du samedi (puis du mercredi)</h2>
        <p>De 2012 à 2016</p>
        <p>
            Émission de radio hebdomadaire sur SUN, <a class="link" href="https://lesonunique.com/">le Son Unique</a>
        </p>
        <p>Chroniques sur les jeux vidéo et le monde du numérique</p>
        <p>
            Les archives semblent encore être disponibles sur <a class="link" href="https://www.mixcloud.com/laguildedumercredi/">Mixcloud</a>
        </p>
        <p>Visites professionnelles dans une Gamescom ou le Stunfest</p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/tag.webp"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            <a class="link" href="https://www.toysandgeek.fr/">Toys and Geek</a>
        </h2>
        <p>De 2014 à 2019</p>
        <p>Articles et tests de jeux vidéo</p>
        <p>
            Vidéos avec notamment des interviews de développeurs (sur ma chaine <a class="link"
    href="https://www.youtube.com/watch?v=hdzaeth7diI&list=PLHSVTi6lTLZPibjjoviimQ8v6VPIk6oPD">YouTube</a>)
        </p>
        <p>
            Nombreuses couvertures professionnelles (en tant que bénévole, mais avec accréditation presse) sur des salons comme la Gamescom, le Stunfest ou la Japan Expo
        </p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/gss.webp"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            <a class="link" href="https://www.gamesidestory.com/">Game Side Story</a>
        </h2>
        <p>De 2019 à 2021</p>
        <p>Articles et tests de jeux vidéo</p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/youtube.webp"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            Ma chaine <a class="link" href="https://www.youtube.com/@zhykos">YouTube</a>
        </h2>
        <p>Depuis 2009</p>
        <p>Vidéos de jeux vidéo : interviews, walkthrough, etc.</p>
    </div>
</div>
<div class="card lg:card-side bg-base-200 shadow-sm mb-8">
    <figure>
        <img src="/img/project/autophoto.webp"
             height="300"
             width="100"
             class="w-40"
             alt="" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
            <a class="link"
               href="https://bsky.app/profile/galleryvideogames.bsky.social">Video games gallery</a>
        </h2>
        <p>Depuis 2024</p>
        <p>
            Galerie de captures de jeux vidéo (sur Bluesky) basée sur mon projet <a class="link" href="https://github.com/Zhykos/autophoto">autophoto</a>
        </p>
    </div>
</div>
