<ul class="list bg-base-100 rounded-box shadow-md">
    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">
        {% if postslist.length == 1 %}
            Dernier article :
        {% else %}
            Les {{ postslist.length }} derniers articles :
        {% endif %}
    </li>
    {% for post in postslist %}
        <li class="list-row">
            <div>
                <div>
                    <a href="{{ post.url }}" class="link">{{ post.title }}</a>
                </div>
                <div class="text-xs uppercase font-semibold opacity-60">{{ post.date | date('HUMAN_DATE', 'fr') }}</div>
            </div>
            <div>
                {% for tag in post.tags %}
                    {% set page = search.page("type=tag tag='" + tag + "'") %}
                    <div class="badge badge-soft badge-primary">{{ tag }}</div>
                {% endfor %}
            </div>
        </li>
    {% endfor %}
</ul>
