<li>
    <details>
        <summary class="link">{{ i18n.proxp }}</summary>
        <ul class="p-2">
            <li>
                <a class="link" href="/about">À propos</a>
            </li>
            <li>
                <a class="link" href="/education">Scolarité et formations</a>
            </li>
            <li>
                <a class="link" href="/professional-projects">Projets professionnels</a>
            </li>
            <li>
                <a class="link" href="/skills">Skills</a>
            </li>
            <li>
                <a class="link" href="/files/thomas-cicognani-resume.pdf">CV</a>
            </li>
            <li>
                <a class="link" href="/files/thomas-cicognani-complete-resume.pdf">CV exhaustif</a>
            </li>
        </ul>
    </details>
</li>
<li>
    <a class="link" href="/personal">Expériences personnelles</a>
</li>
<li>
    <a class="link" href="/blog">Mon blog</a>
</li>
