<li>
    <details>
        <summary class="link">{{ i18n.proxp }}</summary>
        <ul class="p-2">
            <li>
                <a class="link" href="/about">À propos</a>
            </li>
            <li>
                <a class="link" href="/education">Scolarité et formations</a>
            </li>
            <li>
                <a class="link" href="/professional-projects">Projets professionnels</a>
            </li>
        </ul>
    </details>
</li>
<li>
    <a class="link" href="/personal-projects">Projets personnels</a>
</li>
<li>
    <a class="link" href="/blog">Mon blog</a>
</li>
