<li>
    <details>
        <summary>Expériences professionnelles</summary>
        <ul class="p-2">
            <li>
                <a href="/about">À propos</a>
            </li>
            <li>
                <a href="/education">Scolarité et formations</a>
            </li>
        </ul>
    </details>
</li>
<li>
    <a>Projets personnels</a>
</li>
<li>
    <a>Mon blog</a>
</li>
