.iam {
  color: #12d640;
}

.about-point-list {
  display: inline;
}

:root {
  --tw-ring-color: var(--color-success);
  --tw-shadow: 0 0 #0000;
  --tw-ring-offset-color: var(--color-base-100);
  --tw-ring-inset: ;
}

.fill-current-color {
  fill: currentColor;
}
