import React from 'react';

{{#games}}
import {{.}} from '../{{.}}';
{{/games}}

const SectionGames = () => {
  return (
      <div id="games" class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Game name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Release year
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Platform
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Played on
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Version
                    </th>
                    <th scope="col" class="px-6 py-3">
                        # Photos
                    </th>
                    <th scope="col" class="px-6 py-3">
                        IGDB link
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Flickr gallery link
                    </th>
                </tr>
            </thead>
            <tbody>
              {{#games}}
              <{{.}} />
              {{/games}}
            </tbody>
        </table>
      </div>
  );
};

export default SectionGames;
