<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title or site.title }}</title>
        <meta name="description" content="{{ description or site.description }}" />
        <meta name="keywords"
              content="thomas cicognani zhykos développeur ingénieur luxembourg java react native fullstack opentelemetry deno" />
        <link rel="stylesheet" href="/styles.css" />
        <link rel="alternate"
              href="/feed.xml"
              type="application/atom+xml"
              title="{{ site.title }}" />
        <link rel="alternate"
              href="/feed.json"
              type="application/json"
              title="{{ site.title }}" />
        <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"
                integrity="sha384-9l0HtvnB08o05/gpJ0/s/MH6b4qnQsdwaxyvtOJY/j8yiQWS1kAmsRQVMgKxcREb"
                crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar bg-base-100 shadow-sm">
            <div class="navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </div>
                    <menu>
                        <ul tabindex="0"
                            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
                            {% include "list-menu-header.njk" %}
                        </ul>
                    </menu>
                </div>
                <a class="btn btn-ghost text-xl link" href="/">{{ site.title }}</a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <menu>
                    <ul class="menu menu-horizontal px-1">
                        {% include "list-menu-header.njk" %}
                    </ul>
                </menu>
            </div>
            <button class="btn btn-ghost btn-circle" onclick="search_modal.showModal()">
                <img height="24"
                     width="24"
                     src="{{ "search-alt" | icon('boxicons', 'regular') }}"
                     alt="Search" />
            </button>
            <button class="swap swap-rotate"
                    data-toggle-theme="dim,light"
                    data-act-class="ACTIVECLASS">
                <input type="checkbox" class="theme-controller" value="dim" />
                <img height="24"
                     width="24"
                     class="swap-off fill-current"
                     src="{{ "sun" | icon('boxicons', 'regular') }}"
                     alt="Light theme" />
                <img height="24"
                     width="24"
                     class="swap-on fill-current"
                     src="{{ "moon" | icon('boxicons', 'regular') }}"
                     alt="Dark theme" />
            </button>
        </nav>
        <main>
            {{ content | safe }}
            <div>
                <button class="btn btn-circle fixed bottom-10 right-10 z-10 flex"
                        onclick="window.scrollTo({top: 0, behavior: 'smooth'});">
                    <img height="32"
                         width="32"
                         src="{{ "up-arrow-alt" | icon('boxicons', 'regular') }}"
                         alt="Scroll to top" />
                </button>
            </div>
            <dialog id="search_modal" class="modal">
                <div class="modal-box w-11/12 max-w-5xl">
                    <form method="dialog">
                        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                    </form>
                    <h3 class="text-lg font-bold">Recherche</h3>
                    <p class="py-4">Recherchez des éléments dans le site ou pressez ESC pour fermer</p>
                    <div class="navbar-search">
                        <div id="search"></div>
                    </div>
                </div>
                <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                </form>
            </dialog>
        </main>
    </body>
</html>
