---
layout: layouts/base.njk
---

{% import "macro-breadcrumbs.njk" as breadcrumbs %}
{{ breadcrumbs.breadcrumbs3('Blog', '/blog', title, page_url) }}
<div class="divider divider-start"></div>
<article data-pagefind-body>
    <div class="flex flex-col gap-6 bg-base-200 rounded-box p-6 m-6">
        <div class="flex justify-between items-center">
            <time class="text-sm" datetime="{{ date | date("DATETIME") }}">
                {{ date | date('HUMAN_DATE', 'fr') }}
            </time>
            <span class="post-tags">
                {% for tag in tags %}<div class="badge badge-soft badge-primary m-1">{{ tag }}</div>{% endfor %}
            </span>
        </div>
        <div class="flex flex-col gap-2">
            <a class="text-xl font-bold link" href={{ page_url }}>{{ title }}</a>
            <span>{{ description | safe }}</span>
            <span>{{ content | safe }}</span>
        </div>
    </div>
</article>
<div class="flex text-center">
    <nav class="flex-1">
        {%- set previousPost = search.previousPage(url, "type=posts") %}
        {%- if previousPost %}
            <button class="btn btn-ghost">
                <a class="link" href="{{ previousPost.url }}" rel="prev">Article précédent : {{ previousPost.title }}</a>
            </button>
        {% endif %}
        {%- set nextPost = search.nextPage(url, "type=posts") %}
        {%- if nextPost %}
            <button class="btn btn-ghost">
                <a class="link" href="{{ nextPost.url }}" rel="next">Article suivant : {{ nextPost.title }}</a>
            </button>
        {% endif %}
    </nav>
</div>
